.pagination {
  min-width: 320px;
  display: flex;
  margin: 40px 0 64px;
  justify-content: center;
  &__pagesListContainer {
    max-width: 160px;
    overflow-x: hidden;
  }
  &__pagesList {
    white-space: nowrap;
    transform: translateX(-40px);
  }
  &__button {
    background-color: transparent;
    color: var(--dark);
    border: 1px solid var(--elements);
    border-radius: 25px;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    &:hover {
      border-color: var(--dark);
    }
    &:disabled {
      border-color: var(--elements);
      color: var(--elements);
      &:hover {
        border-color: var(--elements);
      }
    }
    &--active {
      background-color: var(--dark);
      color: white;
    }
    &--arrow {
      border-color: var(--icons);
    }
  }
}

@media (min-width: 1200px) {
  .pagination {
    margin-bottom: 80px;
  }
}
