.recommendedPhoneSwiper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;

  &__head {
    display: flex;
    justify-content: space-between;
    margin: 16px;
  }

  &__title {
    font-weight: 800;
    font-size: 22px;
  }

  &__cards {
    margin: 24px 16px 64px;
    display: flex;
    max-width: 1136px;
    gap: 16px;
    overflow: hidden;
    width: 100%;
  }

  &__card {
    transition: transform 0.3s linear;
  }

  &__buttons {
    gap: 16px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 1px solidvar(--elements);
    border-radius: 50%;

    &__image {
      fill: var(--primary);
    }

    &:hover {
      border: 1px solid var(--primary);
      color: var(--primary);
    }

    &:disabled {
      cursor: auto;
      opacity: 50%;
      border: 0;
    }
  }
}

@media (min-width: 768px) {
  .recommendedPhoneSwiper {
    // margin: 0 auto;

    &__title {
      font-size: 32px;
    }
  }
}

@media (min-width: 1200px) {
  .recommendedPhoneSwiper {
    &__cards {
      margin-bottom: 80px;
    }

    &__head {
      padding: 0;
    }
  }
}
