.carousel__button {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: var(--button-bg);
  border: 1px solid var(--card-border);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel__buttons {
  display: flex;
  position: absolute;
  top: 20px;
  right: 32px;
  gap: 16px;
}