.product {
  padding: 16px;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  &__navigation {
    padding-top: 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    @media (min-width: 640px) {
      padding-top: 16px;
    }

    &--chevronButton {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
    }
    &--backButton {
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0;
      color: #89939a;
      display: inline-block;
      padding-left: 4px;
      vertical-align: middle;

      &:hover {
        color: #0f0f11;
      }
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #0f0f11;
    margin-bottom: 32px;
  }

  &__about {
    margin-top: 56px;
  }

  &__techSpecs {
    margin-top: 56px;
  }

  &__recommended {
    margin-top: 56px;
  }

  @media (min-width: 1200px) {
    &--images--varieties--actions {
      display: flex;
      flex-direction: row;
    }

    &--about--techSpecs {
      display: flex;
      flex-direction: row;
    }
  }
}
