.categories {
  .container {
    padding: 16px;
  }

  &_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;

    margin-bottom: 24px;
  }

  &_product {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 32px;
  }

  & img {
    border-radius: 8px;
    margin-bottom: 24px;

    transition: transform 300ms;

    &:hover {
      transform: scale(1.05);
    }
  }

  &_imgFirst {
    background: #6D6474;
  }

  &_imgSecond {
    background: #89939A;
  }

  &_imgThird {
    background: #D53C51;
  }

  &_type {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    margin-bottom: 4px;

    color: #0F0F11;
  }

  &_models {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;

    color: #89939A;
  }
}

@media (min-width: 640px) {
  .categories {
    display: flex;
    justify-content: center;

    .container {
      padding: 24px;
    }
  
    &_title {
      font-size: 32px;
    }

    &_container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 16px;
    }
  
    & img {
      height: 187px;
      width: 187px;
      border-radius: 8px;
      margin-bottom: 24px;
    }
  }
}

@media (min-width: 1200px) {
  .categories {
    .container {
      padding: 32px;
    }
  
    & img {
      height: 370px;
      width: 370px;
    }
  }
}