.categories {
  margin-top: 56px;

  .container {
    padding: 0 16px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    
    padding: 0 32px;
    margin-bottom: 24px;
  }

  &_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 380px;

    margin-bottom: 32px;
  }

  &_image {
    border-radius: 8px;
    margin-bottom: 24px;
    width: 100%;

    transition: transform 300ms;

    &:hover {
      transform: scale(1.05);
    }
  }

  &_imgFirst {
    background: #6d6474;
  }

  &_imgSecond {
    background: #8d8d92;
  }

  &_imgThird {
    background: #973d5f;
  }

  &_type {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    margin-bottom: 4px;

    color: var(--primary);
  }

  &_models {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;

    color: var(--secondary);
  }
}

@media (min-width: 640px) {
  .categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 64px;

    .container {
      padding: 0 24px;
    }

    &_title {
      font-size: 32px;
      padding: 0 24px;
    }

    &_container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 16px;
    }
  }
}

@media (min-width: 1200px) {
  .categories {
    margin-top: 80px;
    .container {
      padding: 32px;
    }
  }
}
