.products {
  &__title {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 14px;
    margin-bottom: 8px;

    text-transform: capitalize;
    font-size: 32px;

    @media (min-width: 640px) {
      font-size: 48px;
      margin-bottom: 16px;
    }

    background: linear-gradient(
      to right,
      #7953cd 20%,
      #00affa 30%,
      #0190cd 70%,
      #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
  }

  &__count {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 14px;
    margin-bottom: 40px;
    color: var(--primary);
    font-weight: 600;
    font-size: 14px;
  }
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
