.products {
  &__title {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 14px;
    margin-bottom: 8px;
  }

  &__count {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 14px;
    margin-bottom: 40px;
  }
}
