// global.scss
$gray-white: #ffffff;
$gray-secondary: #89939a;
$gray-primary: #0f0f11;
$secondary-accent: #f447af;

:export {
  gray-white: $gray-white;
  gray-secondary: $gray-secondary;
  gray-primary: $gray-primary;
  secondary-accent: $secondary-accent;
}
