.menuLink {
  svg path {
    fill: var(--primary);
  }
  &--burger {
    line-height: 75px;
    width: 48px;
    text-align: center;
    //border-left: 1px solid var(--elements);
    border-bottom: 3px solid transparent;
  }

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.48px;
  text-transform: uppercase;

  color: var(--secondary);

  &--active {
    border-bottom: 3px solid var(--primary);
    color: var(--primary);
    // padding-bottom: 20px;
  }

  &--pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  @media (min-width: 640px) {
    margin-right: 28px;

    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    color: var(--secondary);
    border-bottom: 3px solid transparent;

    transition: border-bottom 400ms;

    &--active {
      color: var(--highlight);
      border-bottom: 3px solid var(--primary);
    }

    &--burger {
      line-height: 48px;
      width: 48px;
    }
  }

  @media (min-width: 1200px) {
    margin-right: 64px;
    line-height: 64px;

    &--burger {
      line-height: 64px;
      width: 64px;
    }
  }
}
