$gray-white: #ffffff;
$gray-secondary: #89939a;
$gray-primary: #0f0f11;

.menuLink {
  &--burger {
    line-height: 48px;
    width: 48px;
    text-align: center;
    border-left: 1px solid #E2E6E9;
    border-bottom: 3px solid transparent;

    // &:focus {
    //   // border-bottom: 3px solid $gray-primary;
    // }
  }

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.48px;
  text-transform: uppercase;

  color: $gray-secondary;

  &--active {
    border-bottom: 3px solid $gray-primary;
  }

  @media (min-width: 640px) {
    margin-right: 32px;

    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    color: $gray-secondary;
    border-bottom: 3px solid transparent;

    transition: border-bottom 400ms;

    &--active {
      color: $gray-primary;
      border-bottom: 3px solid $gray-primary;
    }

    &--burger {
      line-height: 48px;
      width: 48px;
    }
  }

  @media (min-width: 1200px) {
    margin-right: 64px;
    line-height: 64px;

    &--burger {
      line-height: 64px;
      width: 64px;
    }
  }
}
