.locationHistory {
  display: flex;
  align-items: center;

  &__homeIcon {
    margin-right: 10px;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 10px;

    font-size: 12px;
    font-weight: bold;
  }

  &__link {
    font-size: 12px;
    font-weight: bold;
    color: black;
  }
}
