$gray-white: #ffffff;
$gray-secondary: #89939a;
$gray-primary: #0f0f11;

.header {
  display: flex;
  width: 100%;
  height: 48px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  background-color: $gray-white;
  box-shadow: 0px 1px 0px 0px #e2e6e9;

  &_logo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 13px 16px;
  }

  &_logoImage {
    height: 22px;
    width: 64px;
  }

  &_menuItems {
    display: none;
  }

  &_buttons {
    display: none;
  }

  &_buttonMenu {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;

    box-shadow: -1px 0px 0px 0px #e2e6e9;
  }
}

.burger {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $gray-white;

  .container {
    display: flex;
    width: 100%;
    height: 48px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    background-color: $gray-white;
    box-shadow: 0px 1px 0px 0px #e2e6e9;
  }

  .burgerMenuItems {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 24px;

    gap: 16px;
  }

  .burgerMenuLink {
    font-family: Mont;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    color: $gray-secondary;

    border-bottom: 2px solid transparent;

    &:focus {
      color: $gray-primary;
      border-bottom: 2px solid #0f0f11;
    }
  }

  .burgerButtons {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $gray-white;
    box-shadow: -1px 0px 0px 0px $gray-secondary;
  }
}

@media (min-width: 640px) {
  .burgerMenu {
    display: none;
  }

  .header {
    gap: 16px;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    &_menuItems {
      display: block;
    }

    &_buttons {
      display: flex;
    }

    &_button {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 16px;

      box-shadow: -1px 0px 0px 0px #e2e6e9;
    }

    &_buttonBurgerMenu {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    height: 64px;
    gap: 24px;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }

    &_logo {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 18px 24px;
    }

    &_logoImage {
      height: 28px;
      width: 80px;
    }

    &_button {
      padding: 24px;
    }
  }
}
