@import '../../styles/global.scss';

.header {
  display: flex;
  width: 100%;
  height: 48px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  background-color: var(--background);
  box-shadow: 0px 1px 0px 0px var(--elements);

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 13px 16px;
  }

  &__logoImage {
    height: 22px;
    width: 64px;
  }

  &__menuItems {
    display: none;
  }

  &__buttons {
    display: none;
  }

  &__authButton {
    text-align: center;
    line-height: 48px;
    width: 48px;
  }
  
  &__authUserData {
    display: flex;
    align-items: center;
  }
  &__authUserPhoto {
    // line-height: 51px;
    border: #0f0f11 solid 1px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  &__authUserName {
    // line-height: 48px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.48px;
    border-left: 1px solid var(--elements);
    padding: 0 12px;
  }

  &__authButton {
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 48px;
    width: 48px;
  }
  
  &__authUserData {
    display: flex;
    align-items: center;
  }
  &__authUserPhoto {
    // line-height: 51px;
    border: #0f0f11 solid 1px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  &__authUserName {
    line-height: 48px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.48px;
    color: var(--primary)
  }
  
  &__burgerContainer{
    display: flex;
  }

  &__button,
  &__burgerButton {
    // box-sizing: border-box;
    display: flex;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: none;

    border-left: 1px solid var(--elements);
  }

  &__buttonMenu {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;

    box-shadow: -1px 0px 0px 0px var(--elements);
  }

  &__productsCount {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 55%;
    left: 50%;

    width: 14px;
    height: 14px;

    background: var(--secondary-accent);
    border-radius: 50%;

    font-weight: 700;
    font-size: 9px;
    color: var(--background);

    box-shadow: none;

    &--burger {
      position: relative;
      transform: translateY(-300%);
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
    }
  }

  &__themeSwitcherWrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    line-height: 48px;
  }
}

.burger {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--background);
  z-index: 1;
  // overflow: hidden;

  .container {
    display: flex;
    width: 100%;
    height: 48px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    background-color: var(--background);
    box-shadow: 0px 1px 0px 0px var(--elements);
  }

  .burgerMenuItems {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 24px;

    gap: 16px;
  }

  .burgerMenuLink {
    font-family: Mont;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    color: var(--secondary);

    border-bottom: 2px solid transparent;

    &:focus {
      color: var(--primary);
      border-bottom: 2px solid var(--primary);
    }
  }

  .burgerButtons {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    box-shadow: -1px 0px 0px 0px var(--secondary);
  }
}

@media (min-width: 640px) {
  .burgerMenu {
    display: none;
  }

  .header {
    gap: 16px;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    &__menuItems {
      display: block;
    }

    &__buttons {
      display: flex;
      justify-content: center;
    }

    &__buttons a {
      margin: 0;
    }

    // &__button {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;

    //   padding: 16px;

    //   box-shadow: -1px 0px 0px 0px var(--elements);
    // }

    &__buttonBurgerMenu {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    height: 64px;
    gap: 24px;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 18px 24px;
    }

    &__logoImage {
      height: 28px;
      width: 80px;
    }

    &__button {
      width: 64px;
      height: 64px;
    }

    &__authButton {
      line-height: 64px;
      width: 64px;
    }
    &__authUserPhoto {
      width: 50px;
      height: 50px;
    }
    &__authUserName {
      line-height: 64px;
    }
  }
}
