.cartItem {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  width: 288px;
  justify-content: space-between;
  padding: 16px;
  border-radius: 16px;
  gap: 16px;
  border: 1px solid var(--elements);

  &:not(:last-child) {
    margin-bottom: 16px;

    @media (min-width: 640px) {
      margin-bottom: 32px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 16px;
    }
  }

  @media (min-width: 640px) {
    display: flex;
    flex-direction: row;
    width: 592px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    height: 128px;
  }
  @media (min-width: 1200px) {
    width: 752px;
  }

  &__counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: green;

    &__buttons {
      // background-color: blue;
      display: flex;
      flex-direction: row;
      align-items: center;
      @media (min-width: 640px) {
        margin-right: 24px;
      }
    }
  }
  &__productInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: yellow;
  }

  &__img {
    object-position: center;
    object-fit: contain;
    width: 80px;
    height: 80px;

    @media (min-width: 640px) {
      margin-right: 24px;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    width: 128px;

    @media (min-width: 640px) {
      width: 176px;
    }

    @media (min-width: 1200px) {
      width: 336px;
    }
  }

  &__count {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: var(--primary);
  }

  &__price {
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }

  &__removeButton {
    // background-color: green;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  &__counterButton {
    margin: 0 10px;
    height: 32px;
    width: 32px;
    border-radius: 48px;
    background-color: var(--background);
    // background-color: yellow;
    border: 1px solid var(--icons);
    padding: 0;

    @media (min-width: 640px) {
      margin-right: 14px;
    }
  }
}

.closeButton {
  width: 16px;
  height: 16px;
  @media (min-width: 640px) {
    margin-right: 24px;
  }
}

.minusButton {
  width: 16px;
  height: 16px;
}

.plusButton {
  width: 16px;
  height: 16px;
}
