.actions {
  text-align: center;
  margin-top: 32px;
  min-width: 288px;
  // @media (min-width: 640px) {
  //     min-width: 200px;
  // }
  &__prices {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }
  &__priceDiscount {
    margin-right: 8px;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.32px;
  }
  &__priceRegular {
    color: var(--gray-secondary, var(--secondary));
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: line-through;
  }
  &__buttons {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
  &__buttonToCart {
    flex-grow: 1;
    margin-right: 8px;
    color: var(--background);
    border: 1px solid var(--accent);
    border-radius: 8px;
    background: var(--accent);
    display: flex;
    min-width: 231px;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    transition: 0.3s;

    &:disabled {
      background: transparent;
      border: 1px solid var(--elements);
      color: var(--accent);

      &:hover {
        box-shadow: none;
      }
    }

    &:hover {
      box-shadow: 0px 3px 13px 0px var(--shadow);
    }

    &:active {
      color: var(--accent);
      background-color: var(--background);
      border: 1px solid var(--elements);
    }
  }
  &__buttonToFavourites {
    width: 48px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid var(--icons);
    background-color: var(--background);
    background-image: url('../../../icons/FavouriteBtn.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;

    &--active {
      background-image: url('../../../icons/FavouritesFilledBtn.svg');
    }
    &:hover {
      border-color: var(--accent);
    }
    &:active {
      border-color: var(--accent);
      background-image: url('../../../icons/FavouritesFilledBtn.svg');
    }
  }
  &__infoContainer {
    margin-top: 32px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  &__subtitle {
    color: var(--gray-secondary, var(--secondary));
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &__data {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media (min-width: 640px) {
  .actions {
    min-width: 200px;
    &__buttonToCart {
      min-width: 180px;
      max-width: 263px;
    }
  }
}
