.locationHistory {
  max-width: 1200px;
  height: 20px;
  display: flex;
  align-items: center;
  margin: 24px auto 24px;
  padding: 0 14px;

  @media (min-width: 640px) {
    margin-bottom: 40px;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__homeIcon {
    margin-right: 10px;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 10px;

    font-size: 12px;
    font-weight: bold;
    color: var(--secondary);
  }

  &__path {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__arrow {
    fill: var(--secondary);
  }

  &__link {
    font-size: 12px;
    font-weight: bold;
    color: var(--highlight);
  }
}
