.pageNavigation {
    padding-top: 24px;
    display: flex;
    align-items: center;

    @media (min-width: 640px) {
      padding-top: 16px;
    }

    &__chevronButton {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;

    }

    &__backButton {
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0em;
      color: #89939A;
      display: inline-block;
      padding-left: 4px;
      vertical-align: middle;

      &:hover {
        color: #0F0F11;
      }
    }
  }