html[data-theme='light'] {
  --accent: #216cff;
  --secondary-accent: #f447af;
  --primary: #110f0f;
  --secondary: #89939a;
  --icons: #b4bdc3;
  --elements: #e2e6e9;
  --hoverAndBg: #fafbfc;
  --green: #27ae60;
  --red: #eb5757;
  --background: #ffffff;
  --highlight: #000000;
  --shadow: rgba(23, 32, 49, 0.4);
  --theme-switcher: #0f0f11;
  --surface1: #ffffff;
  --card-border: #e2e6e9;
  --button-bg: #ffffff;
  --footer-link: #89939a;
  --button-active: #ffffff;
  --select-outline: #e2e6e9;
  --select-active: #110f0f;
  --pag-border: #110f0f;
  --var-active: #fff;
  --not-allowed: #eeeeee;
}

html[data-theme='dark'] {
  --accent: #905bff;
  --secondary-accent: #eb5757;
  --primary: #fafbfc;
  --secondary: #75767f;
  --icons: #4a4d58;
  --elements: #3b3e4a;
  --hoverAndBg: #161827;
  --green: #27ae60;
  --red: #eb5757;
  --background: #0f1121;
  --highlight: #ffffff;
  --shadow: rgba(23, 32, 49, 0.4);
  --theme-switcher: #fafbfc;
  --surface1: #161827;
  --card-border: transparent;
  --button-bg: #323542;
  --footer-link: #ffffff;
  --button-active: #323542;
  --select-outline: #323542;
  --select-active: #905bff;
  --pag-border: transparent;
  --var-active: #000;
  --not-allowed: transparent;
}
