.filters {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 24px;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.sort {
  display: flex;
  justify-content: center;
  &__filter {
    display: flex;
    gap: 16px;
    padding: 0 14px;
    align-items: center;
    justify-content: center;
  }

  &__field {
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      left: calc(100% - 24px);
      bottom: 12px;
      background-image: url(../../icons/ArrowDown.svg);
      pointer-events: none;
    }
  }

  &__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--secondary);
    margin-bottom: 4px;
  }

  &__select {
    width: 136px;
    height: 40px;
    position: relative;
    appearance: none;

    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    background-color: var(--background);
    border: 1px solid var(--icons);
    border-radius: 8px;
    padding: 8px;

    &--perPage {
      width: 136px;
    }

    &:hover {
      border-color: var(--secondary);
    }

    &:focus {
      border-color: var(--primary);
      outline: none;
    }
  }
}

.option {
  font-family: inherit;
  font-weight: 500;
  height: 32px;
}

@media (min-width: 640px) {
  .filters {
    flex-direction: row;
  }
  .sort {
    &__filter {
      justify-content: flex-start;
    }
    &__select {
      width: 187px;
    }
  }
}

@media (min-width: 768px) {
  .sort {
    &__filter {
      padding: 0 14px;
    }

    &__select {
      width: 176px;

      &--perPage {
        width: 128px;
      }
    }
  }
}
