.section {
  margin: 100px;
  text-align: center;

  &__title {
    padding-bottom: 24px;
    color: var(--accent);
  }

  &__img {
    width: 400px;
    padding-bottom: 24px;
  }

  &__link {
    font-size: 24px;
    display: block;
    padding-bottom: 24px;
    padding-top: 24px;
    color: var(--accent);

    &:hover {
      font-weight: 600;
    }
  }
}
